.header{
    position: fixed;
    width: 7.5rem;
    line-height:1.01rem;
    text-align: center;
    font-size: 0.36rem;
    color: #fff;
    z-index:50;
    h1{
       font-size: 0.36rem;
    }
    .header_lefticon{
        position: absolute;
        height: 0.8rem;
        font-size: 0.4rem;
        top:calc((1.01rem - 0.8rem)/2);
        left:0.25rem;
    }
    .confirm{
        position: absolute;
        top: 0;
        right: 0.05rem;
        padding: 0 0.2rem;
    }
}
.zhuan{
  background-color:#FB471E;
}
