.fathers{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 1rem;
    left: 50%;
    margin-left: -3.75rem;
    width:7.5rem;
    height: 1rem;
    z-index: 10;
    box-shadow: 0 0.03rem 0.1rem #ddd;

    >div{
        width: 25%;
        line-height:0.95rem;
        text-align: center;
        background: #fff;
        font-size:0.3rem;
    }
    .active{
        border-bottom: 0.05rem solid #fdc777;
        color:#fdc777;
    }
}
