#detail{
    padding-top: 1.01rem;

}
.header{
  top: 0;
}
.title{
  clear: both;
  font-size: 0.3rem;
  font-weight: bold;
  margin-bottom: 0.26rem;
}
.detail_main{
  height: 0.77rem;
  width: 100%;

  .notice{
    height: 0.77rem;
    background-color: #fff;
    width: 100%;
    padding: 0 0.26rem;
    margin: 0.2rem 0;
  }

  .content{
    overflow: hidden;
    background: #fff;
    padding: 0 0.26rem;
    .title-time{
      padding-top: 0.33rem;
      font-size: 0.3rem;

      border-bottom: 1px solid #eee;
      .time{
        font-size: 0.26rem;
        color: #7F7E7E;
        margin-bottom: 0.25rem;
      }
    }
    .user-info{
      overflow: hidden;
        padding-top: 0.23rem;
        border-bottom: 1px solid #eee;
        margin-bottom: 0.35rem;
         padding-bottom: 0.36rem;
      .left-img{
        margin-top: 0.2rem;
        margin-right: 0.21rem;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background-size: 0.8rem 0.8rem;
        float:left;

      }
      .right-inner{
        width: 5.9rem;
        float: left;
        .name-pay{
          float: left;
          height: 0.5rem;
          line-height: 0.5rem;
          .userName{
            font-weight: bold;
            margin-right: 0.35rem;
            float: left;
            font-size: 0.29rem;
            color: #000000;
          }
          .pay{
            line-height: 0.4rem;
            padding: 0 0.1rem;
            float: left;
            border: 1px solid #eee;
            border-radius: 0.05rem;
            font-size: 0.2rem;
            color: #5f5e5e;
            b{
              vertical-align: -10%;
              margin-right: 0.1rem;
              width: 0.3rem;
              height: 0.3rem;
              background-image: url(../../assets/img/other/pay.png);
              background-size: 100% 100%;
              display: inline-block;
            }
          }
        }
        .telphone{
          overflow: hidden;
          width: 5.9rem;
          clear: both;
          .phone-num{
              float: left;
            padding-top: 0.15rem;
            font-size: 0.2rem;
            color: #5f5e5e;
          }
          .opeart{
            margin-bottom: 0.27rem;
            float: right;
            .show-complete-tel{
              background: #ffa926;

            }
            .complete-state{
              background: #ccc;
            }
            .report{
              background: red;
            }
            .call-phone{
              background: #ffa926;
            }
            p{
              float: right;
              padding: 0.08rem 0.07rem;
              color: #fff;
              border-radius: 0.1rem;
              font-size: 0.18rem;
              margin-left: 0.1rem;
            }
          }

        }
      }
    }
    .tips{
      clear: both;
      text-align: center;
      font-size: 0.2rem;
      height: 0.42rem;
      line-height: 0.42rem;
      width: 6rem;
      background-color: #edf1fa;
      border-radius: 0.2rem;
      margin: 0 auto;
    }
    .machine-type{
      margin-bottom: 0.36rem;
      .type-list{
        overflow: hidden;
        line-height: 0;
        max-height: 1.2rem;
         b{
           float: left;
           height: 0.5rem;
           line-height: 0.5rem;
           padding: 0.03rem 0.3rem;
           background-color: #f5f5f5;
           color: #525252;
           font-size: 0.22rem;
           border: 0.1rem;
           margin-bottom: 0.1rem;
           margin-right: 0.15rem;
         }
      }

    }
    .detail-info{
      border-bottom: 1px solid #eee;
      position: relative;
      padding-bottom: 0.34rem;
      .detail-content{
        color: #525252;
        font-size: 0.22rem;
        line-height: 0.4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        letter-spacing: 0.021rem;
      }
      .show-all-text{
        position: absolute;
        background-color: #fff;
        font-size: 0.22rem;
        right: 0;
        bottom: 0.4rem;
      }
    }
    .machine-imgs{
      margin-bottom: 0.36rem;
      padding: 0.37rem 0 0.17rem 0;
      border-bottom: 1px solid #eee;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      div{
        margin-bottom: 0.2rem;
        width: 2.2rem;
        height: 2.2rem;

      }
    }
    .address{
      .addree-info{
        font-size: 0.21rem;
        color: #7c7c7c;
        padding-bottom: 0.36rem;
      }
    }
  }
  .reminder{
    background-color: #fff;
    padding: 0.16rem 0.26rem;
    margin-bottom: 1.95rem;
    span{
      background-image: url(../../assets/img/home-images/light.png);
      background-size: 0.27rem 0.27rem;
      float: left;
      width: 0.27rem;
      height: 0.27rem;
      margin-right: 0.07rem;
    }
    margin-top: 0.23rem;
    font-size: 0.19rem;
    color: #2c303b;
    line-height: 0.36rem;
  }
  .footer-opeart{
    width: 7.5rem;
    display: flex;
    padding: 0 0.38rem;
    height: 1.12rem;
    background-color: #fff;
    position: fixed;
    padding-top: 0.15rem;
    left: 50%;
    margin-left: -3.75rem;
    bottom: 0;
    border-top: 1px solid #eee;
    justify-content: space-between;
    .cellcot-share{
      display: flex;
      justify-content: space-between;
      padding-top: 0.1rem;
      width: 3rem;
      p{
        float: left;
        text-align: center;
         width: 0.9rem;
         height: 0.98rem;
        span{
          margin: 0 auto;
          display: block;
          width: 0.44rem;
          height: 0.44rem;

          background-size: 0.44px 0.44rem;
        }
        b{
          display: block;
          font-size: 0.24rem;
          color: #a4a4a4;
        }
      }
      .cellect{
        span{
          // background-image: url(../../assets/img/detail/collect.png);
        }
      }
      .share{
        span{
          // background-image: url(../../assets/img/detail/share.png);
        }
      }
      .report{
        span{
          // background-image: url(../../assets/img/detail/report.png);
        }
      }
    }
    .show-all-tel{
      width: 2.42rem;
      height: 0.82rem;
      background: linear-gradient(90deg,#FF773D,#FFA926);
      color: #fff;
      line-height: 0.82rem;
      text-align: center;
      border-radius: 0.4rem;
      font-size: 0.3rem;
      span{

      }
    }
    .alread_complate{
      width: 2.42rem;
      height: 0.82rem;
      background: #ccc;
      color: #fff;
      line-height: 0.82rem;
      text-align: center;
      border-radius: 0.4rem;
      font-size: 0.3rem;
    }
  }
}
