@import '../../assets/css/style.scss';
@import './info.scss';
.info-list{
  .authenticate{
    display: flex;
    justify-content: space-between;
  }
  .image-list{
    .image-item{
      padding:0.2rem;
        p{
          line-height:0.8rem;
        }
        img{
          display: block;
          width:80%;
          height:4rem;
          margin: auto;
          border: 1px dashed #ddd;
        }
    }
  }
}
