@import '../../../assets/css/style.scss';
.point-mask {
    display: block;
    position: fixed;
    z-index: 100;
    width: 7.5rem;
    height: 100%;
    background: url('../../../assets/img/my-fabu/qiuzu_point.png');
    background-size: 100% 100%;
    .btn-img {
        width: 100px;
        height: 32px;
        position: absolute;
        background: url('../../../assets/img/my-fabu/i_know.png') 0 0 / 100px 32px;
        top: 70%;
        left: calc((100vw - 100px) / 2);
    }
}

.father {
    .go-release {
        margin-top: 1rem;
        button {
            display: block;
            width: 4rem;
            height: 0.8rem;
            background-color: rgb(255, 170, 38);
            font-size: 0.3rem;
            color: #fff;
            text-align: center;
            line-height: 0.8rem;
            border: none;
            outline: none;
            border-radius: 1rem;
            margin: 0 auto;
        }
        p {
            padding-top: 0.2rem;
            font-size: 0.25rem;
            text-align: center;
        }
    }
    .van-pull-refresh {
        overflow: visible;
    }
    @include box_inner($bottom:0rem,
    $top:2rem);
    overflow: scroll;
    .item {
        margin-top: 0.2rem;
        padding: 0.2rem 0.2rem;
        background-color: #fff;
        position: relative;
        .title-h3 {
            height: 0.48rem;
            font-size: 0.35rem;
            color: #000;
            font-weight: 500;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 80%;
            margin-bottom: 0.1rem;
        }
        .intruduce {
            line-height: 0.38rem;
            font-size: 0.3rem;
            color: #6b6b6b;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
        }
        .opearting {
            margin-top: 0.15rem;
            border-top: 1px dashed #b0afaf;
            padding-top: 0.15rem;
            vertical-align: bottom;
            font-size: 0.3rem;
            span {
                border-radius: 0.05rem;
                border: 1px solid #ccc;
                padding: 0.1rem 0.15rem;
            }
            .modify {
                color: #bab9b9;
                float: left;
            }
            .list_item_editor {
                color: #101010;
                float: left;
            }
            .list_item_top {
                float: left;
                margin-left: 0.3rem;
                color: #FFAA27;
                border: 1px solid #FFAA27;
            }
            .list_item_reason {
                float: right;
                color: red;
                border: none;
                img {
                    vertical-align: text-top;
                    width: 0.3rem;
                    height: 0.3rem;
                }
            }
            .list_item_time {
                border: none;
                color: rgb(3, 3, 3);
            }
        }
        .status {
            position: absolute;
            top: calc(-0.08rem * 1.3);
            right: 0.2rem;
            width: calc(1.03rem * 1.3);
            height: calc(0.41rem * 1.3);
        }
    }
}

.Topmask {
    @include box_black($z-index: 200);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    .top_notice_content {
        width: 6.5rem;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        .base {
            background: #ffa926;
            padding: 0.5rem 0.1rem 0.1rem;
            text-align: center;
            color: #fff;
            >p:first-child {
                font-size: 0.6rem;
                padding: 0;
                margin: 0.1rem;
                font-weight: 300;
            }
            >p:last-child {
                font-size: 0.32rem;
                line-height: 0.4rem;
                font-weight: 350;
                text-indent: 0.6rem;
            }
        }
    }
    .closeCreate {
        color: #fff;
        position: absolute;
        font-size: 0.6rem;
        left: calc(50% - 0.3rem);
        bottom: calc(12% - 0.3rem);
    }
}

.Topide {
    opacity: 0;
    z-index: -1;
}

.model_mask {
    z-index: 50;
    .repeat_tost {
        width: 5.62rem;
        position: relative;
        margin: 2.79rem auto;
        background-color: #fff;
        border-radius: 0.2rem;
        padding: 0 0.44rem 0.5rem;
        .close {
            position: absolute;
            top: 0.22rem;
            right: 0.33rem;
        }
        h2 {
            line-height: 0.8rem;
            padding-top: 0.22rem;
            text-align: center;
            color: #2C2C2C;
            font-weight: 500;
            font-size: 0.36rem;
        }
        .fail_reason {
            font-size: 0.26rem;
            line-height: 0.41rem;
            color: #888888;
            padding-bottom: 0.14rem;
            border-bottom: 1px solid #EEEEEE;
        }
        h5 {
            line-height: 0.68rem;
            padding-bottom: 0.09rem;
            font-size: 0.28rem;
        }
        .Topping {
            position: relative;
            height: 1.14rem;
            background-color: #fff;
            box-shadow: 0px 0px 27px 0px rgba(180, 185, 187, 0.26);
            padding: 0.13rem 0.68rem 0 0.12rem;
            h3 {
                @include overflow_hiding();
                line-height: 0.54rem;
                font-size: 0.2rem;
                color: #0F0F0F;
                font-weight: 500;
            }
            .msg {
                @include overflow_hiding();
                font-size: 0.18rem;
                color: #6B6B6B;
            }
            img {
                position: absolute;
                top: -0.04rem;
                right: 0.07rem;
                height: 0.26rem;
                width: auto;
            }
        }
        .top_msg {
            margin-top: 0.12rem;
            font-size: 0.2rem;
            color: #FFA926;
        }
        .btn {
            margin: 0.50rem auto 0;
            width: 2.68rem;
            line-height: 0.62rem;
            font-size: 0.26rem;
            color: #fff;
            text-align: center;
            background-color: #FFA926;
            border-radius: 0.08rem;
        }
    }
}