@import '../../assets/css/style.scss';
.point-mask{
    display: block;
    position: fixed;
    z-index: 999999;
    width: 100vw;
    height: 100vh;
    background: url('../../assets/img/my-fabu/qiuzu_point.png');
    background-size: 100% 100%;
        .btn-img{
            width: 100px;
            height: 32px;
            position: absolute;
            background: url('../../assets/img/my-fabu/i_know.png') 0 0 / 100px 32px;
            top: 70%;
            left: calc((100vw - 100px) / 2);
        }
}
.father{
    @include box_inner($bottom:0rem,$padding-bottom:1rem,$top:2rem);
    overflow: scroll;
        .item{
            margin-top:0.2rem;
            padding: 0.2rem 0.2rem;
            background-color: #fff;
            position: relative;
               .staus{
                position: absolute;
                width: 15%;
                height: 6vw;
                top: -5px;
                right: 10px;
                background-image: url('../../assets/img/my-fabu/examining.png');
                background-size: 100% 6vw;
                background-repeat: no-repeat;
               }
               .title-h3{
                height: 0.38rem;
                font-size:0.3rem;
                color: #000;
                font-weight: bold;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 85%;
                margin-bottom: 8px;
               }
               .intruduce{
                line-height:0.38rem;
                font-size: 12px;
                color: #6b6b6b;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
               }
               .opearting{
                margin-top: 8px;
                border-top: 1px dashed #b0afaf;
                padding-top: 8px;
                height: 0.5rem;
                vertical-align: bottom;
                font-size: 14px;
               }
               .modify{
                color: #bab9b9;
                margin-right:0.3rem;
               }
        }
}
.cart{
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 2rem;
  height: 2rem;
  background-color: blue;
}
