$color: #FFAA26;
$width:7.5rem;
$font-color:#7D7D7D;
$white:#FFFFFF;
$black:#282828;
$colors:#555;
.van-picker__confirm{
  color:#FFAA26;
}
@mixin box_inner($top:1.01rem,$bottom:1.1rem,$padding-bottom:0rem,$z-index:2,$width:7.5rem){
  position: fixed;
	top: $top;
	bottom: $bottom;
	width: $width;
  overflow-y: auto;
  padding-bottom:$padding-bottom;
  z-index:$z-index;
}
@mixin overflow_hiding($clamp: 1){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
　-webkit-line-clamp: $clamp;
　-webkit-box-orient: vertical;
}
