@import '../../assets/css/style.scss';
.container{
  @include box_inner(0)

  #head{
    padding: 0 0.3rem;
    position:fixed;
    background-image:url('http://statics.zhaogongdi.com/common/index_top_back.png');
    width:7.5rem;
    box-sizing: border-box;
    margin-bottom: 0.25rem;
    height: 1rem;
    padding-top:0.15rem;
    z-index:30;
    .left_dom{
      h1{
        padding-top: 0.1rem;
        height:0.62rem;
        img{
          height: 0.5rem;
          width: 1.45rem;
        }
      }
      .position{
        width: 1.6rem;
        height: 0.62rem;
        line-height: 0.62rem;
        font-size: 0.3rem;
        margin-left: 0.25rem;
        i{
          font-size: 0.30rem;
        }
        strong{
          display: inline-block;
          transform: rotate(90deg);
          font-size: 0.30rem;
        }
       }
    }
    .right_dom{
      width: 2.34rem;
      a{
        display: block;
        width: 2.34rem;
        height: 0.62rem;

        background-size: cover;
        background-image: url(http://statics.zhaogongdi.com/common/loadApp.png)
      }
    }
  }
  .banner{
    margin-top: 1rem;
    height: 2.56rem;
    width: 100%;
    .my-swipe{
      height: 2.56rem;
      width: 100%;
    }
    .my-swipe .van-swipe-item,.my-swipe .van-swipe__track {
        color: #fff;
        font-size: 20px;
        line-height: 150px;
        text-align: center;
        background-color: #39a9ed;
        width: 7.5rem !important;
      }
  }
  .menus{
    padding-top: 0.24rem;
    box-sizing: border-box;
    height: 3.6rem;
    width: 100%;
    border-top-left-radius: 0.23rem;
    border-top-right-radius: 0.23rem;
    background: #fff;
    margin-bottom: 0.14rem;
    display: flex;
    flex-wrap: wrap;
    a{
      text-align: center;
      display: block;
      width: 25%;
      font-size: 0.22rem;
      height: 1.3rem;
      img{
        width: 0.88rem;
        height: 0.88rem;
      }
      span{
        display: block;
        height: 0.42rem;
        font-size: 0.27rem;
        line-height: 0.52rem;
        color: #000;
      }
    }
  }
  .list_title{
    z-index:90;
    width: 100%;
    background-color: #f6f6f6;
    margin-bottom: 0.14rem;
    display: flex;
    div{
      width: 25%;
      text-align: center;
      font-size: 0.27rem;
      height: 0.9rem;
      background: #fff;
      line-height: 0.9rem;
      .active{
        color: #f9a10f;
        display: inline-block;
        height: 0.88rem;
        font-size: 0.31rem;
        border-bottom: 2px solid #f9a10f;
      }
    }
  }
  .list_title_fixed{
    position: fixed;
    top: 1rem;
    height: 1.18rem;
    width: 7.5rem;
    padding-top: 0.14rem;
  }
  .list_content{
    width: 100%;
    overflow: hidden;
    .more{
      height: 0.77rem;
      background-color: #fff;
      text-align: center;
      line-height: 0.77rem;
      color: #f99a05;
      font-size: 0.24rem;
      margin-bottom: 0.5rem;
    }
  }

  #{'/deep/'} .model_mask{
      top:0.9rem;
      z-index: 99;
      .inner{
          height:calc(100vh - 0.9rem);
          .city,.area {
            height:calc(100vh - 0.9rem);
          }
      }

  }
  .new_gift{
    position: fixed;
    top: 0;
    width: 7.5rem;
    height: 100vh;
    z-index: 100;
    .van-popup{
      overflow-y:visible;
    }
    .van-popup--center{
      top: 40%;
       border-radius: 0.23rem;
      .inner{
        width: 4.43rem;
        height: 5.74rem;
        background-color: #fff;
        box-sizing: border-box;
        padding-top: 0.4rem;
        border-radius: 0.23rem;
        .gift-img-text{
          height: 0.47rem;
          margin: 0 auto;
          background-image: url(../../assets/img/other/gift_text.png);
          width: 2.5rem;
          background-size: 2.5rem 0.47rem;
          margin-bottom: 0.24rem;
        }
        .gift-title{
          font-size: 0.3rem;
          color: #839092;
          text-align:center
        }
        .main-img{
          width: 100%;
          height: 2.98rem;
          background-image: url(../../assets/img/other/gift_img.png);
          background-size: 100% 100%;
          margin-bottom: 0.27rem;
        }
        .gift-btn{
          width: 3.47rem;
          height: 0.75rem;
          background-image: url(../../assets/img/other/gift_btn.png);
          background-size: 100% 100%;
          font-size: 0.26rem;
          text-align: center;
          margin: 0 auto;
          line-height: 0.75rem;
          color: #fff;
        }
      }
      .gift-close{
        position: absolute;
        font-size: 0.6rem;
        color: #fff;
        left: calc(50% - 0.3rem);
        top: 7rem;
      }
    }

  }
}

#{'/deep/'}  .selectd_box{
    width: 0;
    opacity: 0;
}
#{'/deep/'} .model_mask{
  .inner {
    font-size: 0.28rem;
    width: 3.6rem;
     .city,.area{
       .selectItem{
         background-color: #fdc777;
         color: #fff;
       }
       div{
         padding-left: 0;
         div{
           padding-left: 0;
         }
       }
     }
  }

}
