@import "../../assets/css/style.scss";
.create{
  position: relative;
  .form{
    @include box_inner($bottom:0rem,$padding-bottom:0.3rem,$top:1rem);
    font-size:0.26rem;
    padding:0.2rem  0.26rem 0;
    .public-style{
      padding: 0 0.3rem;
      background-color: #fff;
      border-radius:0.08rem;
      margin-bottom:0.2rem;
      >div:last-child{
        border: 0;
      }
        .form_row{
          display: flex;
          justify-content: space-between;
          line-height:0.9rem;
          border-bottom: 1px solid #ddd;
            .notice{
              width:2rem;
              text-align: left;
              color: #333;
              font-weight: bold;
            }
            .content{
              input{
                width: 100%;
              }
              select{
                font-size: 0.26rem;
              }
              width: calc(100% - 1.3rem);
                span{
                  width: 100%;
                  height: 100%;
                  display: block;
                  color:#ccc;
                  line-height: 0.4rem;
                  padding: 0.25rem 0;
                }
                .inner{
                  color: #333;
                }
                .capt{
                  display: inline-block;
                  margin-top: 0.15rem;
                  padding: 0;
                  height: 0.6rem;
                  width: 2rem;
                  color: #fff;
                  border-radius: 0.15rem;
                  line-height: 0.6rem;
                  text-align: center;
                  background-color: #ffa926
                }
                select{
                  width: 100%;
                  line-height:0.9rem;
                  -webkit-appearance: none;
                  outline: none;
                  background-color: #fff;
                  border: none;
                  padding: 0;
                  margin: 1px 0;
                }
            }
            .captInput{
              input{
                width: 50%;
              }
            }
        }
        .textarea{
          position: relative;
          padding-bottom: 0.4rem;
          .textarea_msg{
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }
        .desc{
          display: block;
          height: auto;
          textarea{
            width: 100%;
            min-height:2rem;
            border: none;
            outline: none;
            overflow-y: visible;
            line-height:0.5rem;
          }
        }
        .images-on{
          display: flex;
          height: auto;
          flex-wrap: wrap;
          padding-bottom:0.2rem;
            .chose-img{
              width: 2rem;
              height: 2rem;
              //间隙0.19rem 6.38
              background-image: url('../../assets/img/up_load_img.png');
              background-repeat: no-repeat;
              background-size: 100% 100%;
              position: relative;
              input{
                width: 100%;
                height: 100%;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
              }
            }
        }
        #{'/deep/'} {
          .van-uploader__wrapper{
            .van-uploader__preview{
              .van-uploader__preview-image{
                width: 1.89rem;
                height: 1.89rem;
              }
            }
          }
        }
        .img{
          display: inline-block;
          vertical-align: middle;
          div{
            &:nth-of-type(3n-1){
              margin-left: 0.3rem;
              margin-right: 0.3rem;
            }
            margin-bottom: 0.3rem;
            width: 1.89rem;
            height: 1.89rem;
          }
          .img_box{
            position: relative;
            display: inline-block;
            .imgclose{
              position: absolute;
              right: 0.1rem;
              top: 0.1rem;
              font-size: 0.4rem;
              line-height: 0.4rem;
            }
          }
        }
    }
    .submit{
      margin: 0.3rem 0.6rem;
      line-height:0.8rem;
      text-align: center;
      background: $color;
      color: #fff;
      border-radius:0.3rem;
      user-select: none;
    }
  }
}
